[app]
PageSize = 10
JwtSecret = 233
ExpiredJwt = 8760
PrefixUrl = http://127.0.0.1:8000
RuntimeRootPath = wwwroot/runtime/
ImageSavePath = upload/images/
# MB
ImageMaxSize = 5
ImageAllowExts = .jpg,.jpeg,.png
ExportSavePath = export/
QrCodeSavePath = qrcode/
FontSavePath = fonts/
LogSavePath = logs/
LogSaveName = log
LogFileExt = log
TimeFormat = 20060102
Issuer = 369App
SaltKey = 


[server]
#debug or prod
RunMode = debug
HttpPort = 8000
GrpcPort = 9000
ReadTimeout = 60
WriteTimeout = 60

[smtp]
Server = smtp.gmail.com
Port = 
User = 
Password =
Identity =
Sender =

[database]
Type = mariab
User = 
Password =
Host =
Port =
Name =
TablePrefix = 

[redis]
Host =
Port =
Password = 
Db = 1

